<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--  引用vue.js  -->
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <!-- html代码块  -->
    <div id="app">
        <!--   因为 v-if 是一个指令，需要将它添加到一个元素上。但是如果我们想切换多个元素呢？
        此时我们可以把一个 <template> 元素当做包装元素，并在上面使用 v-if。最终的渲染结果不会
        包含 <template> 元素     
        -->
        <template v-if="ok">
          <h1>Title</h1>
          <p>Paragraph 1</p>
          <p>Paragraph 2</p>
        </template> 
        
        <div v-if="Math.random() > 0.5">
          Now you see me
        </div>
        <div v-else>
          Now you don't
        </div> 
        
        <div v-if="type === 'A'">
          A
        </div>
        <div v-else-if="type === 'B'">
          B
        </div>
        <div v-else-if="type === 'C'">
          C
        </div>
        <div v-else>
          Not A/B/C
        </div>   
        
        <template v-if="loginType === 'username'">
          <label>Username</label>
          <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
          <label>Email</label>
          <input placeholder="Enter your email address" key="email-input">
        </template>                                                                          
    </div>

    <!--  新建Vue脚本  -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ok:true,
                type:'B',
            }
        });
    </script>
</body>
</html>
