@charset "UTF-8";
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

/*版心*/
.inner_c {
  width: 1000px;
  margin: 0 auto;
  height: 200px;
  /*    background-color: red;*/
}

/*clearfix*/
.clearfix {
  clear: both;
}

.header {
  height: 58px;
  background-color: rgba(37, 31, 98, 0.89);
}
.header .join-us {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
.header .join-us a {
  display: block;
  width: 100px;
  height: 34px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
  color: white;
  background-color: #a1dd86;
}
.header .join-us a:hover {
  background-color: #7fc75f;
}

.logo {
  width: 100px;
  height: 58px;
  background-color: red;
  float: left;
  padding-left: 20px;
}

.nav {
  width: 607px;
  height: 58px;
  float: left;
}
.nav ul li {
  float: left;
  width: 100px;
  height: 58px;
  font-size: 14px;
  line-height: 58px;
  text-align: center;
  border-left: 1px solid #777373;
  list-style: none;
}
.nav ul li a {
  display: block;
  width: 100px;
  height: 58px;
  text-decoration: none;
  color: white;
}
.nav ul li.current-hover a {
  background-color: rgba(233, 233, 239, 0.5);
}
.nav ul li.last-li {
  border-right: 1px solid #777373;
}

.banner {
  height: 465px;
  background-color: #0fe5a3;
}
.banner .content {
  padding-top: 50px;
}
.banner .content .product {
  height: 229px;
  border-bottom: 1px solid #DBE1E7;
}

.content {
  background-color: #5385e3;
  background-position: center bottom;
  /*
      实际上用的url()
      no-repeat
  */
  margin-top: 5px;
  height: 900px;
}
.content .info {
  padding-top: 20px;
}
.content .info .boyaanews {
  float: left;
  width: 500px;
  height: 314px;
  background-color: #d753e8;
}
.content .info .boyaanews ul {
  list-style: none;
}
.content .info .boyaanews ul li {
  display: block;
  height: 50px;
  border-bottom: 3px solid #e02323;
  color: white;
  font-size: 18px;
  font-family: "Hiragino Sans GB";
  line-height: 50px;
  padding-left: 10px;
}
.content .info .boyaanews ul li a {
  text-decoration: none;
}
.content .info .boyaanews ul li.last-li {
  border-bottom: 0;
}
.content .info .boyaajobs {
  float: left;
  width: 490px;
  height: 314px;
  margin-left: 5px;
  background-color: #2ef4a7;
}
.content .info .boyaajobs span {
  display: block;
  width: 100px;
  height: 48px;
  border: 2px solid #52a72c;
  border-radius: 10px;
  line-height: 48px;
  color: white;
  font-size: 24px;
  font-family: "Microsoft YaHei";
  margin-top: 10px;
  margin-left: 10px;
}
.content .info .boyaajobs h4 {
  padding-top: 5px;
  padding-left: 10px;
  color: #e23e3e;
  font-size: 14px;
  font-famlily: "Hiragino Sans GB";
}
.content .info .boyaajobs p {
  margin-top: 5px;
  margin-left: 10px;
  width: 300px;
  border-bottom: 3px solid #f4881c;
}

.product {
  height: 231px;
  border-bottom: 5px solid #e01919;
}
.product ul {
  list-style: none;
}
.product ul li {
  float: left;
  width: 218px;
  height: 229px;
  background-color: orange;
  margin-right: 43px;
}
.product ul li a {
  text-decoration: none;
  display: block;
  width: 218px;
  height: 40px;
  color: white;
  font: 14px/40px "Microsoft YaHei";
  text-align: center;
}
.product ul li.last-li {
  margin-right: 0;
  width: 217px;
}

/*# sourceMappingURL=main.css.map */
