<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<script src="./artTemplate-master/dist/template-native-debug.js"></script>
<script src="./jquery-3.2.1.min.js"></script>


<script id="tpl">
    <h3><%=className%></h3>
    <ul>
        <% for(var i=0;i<students.length;i++) { %>
            <li><%= i+1 %>.<%= students[i]%></li>
        <% } %>
    </ul>
</script>

<script>
    var data = {
        "className":"海豚村",
        "students":["小明","张亮","天天","花儿"]
    };
    $(function(){
        // 1 调用模版
        var html = template("tpl",data);    // 模版名称 、数据
        
        // 2 渲染数据
        $("#demo").html(html);             
    });
</script>    

</head>

<body>
    <div id="demo"></div>
</body>
</html>



