/** 清除内外边距 **/
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
        dl, dt, dd, ul, ol, li, em,/* list elements 列表元素 */
        pre, /* text formatting elements 文本格式元素 */
        form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
        th, td /* table elements 表格元素 */ {
            margin: 0;
            padding: 0;
        }

body {
    background-color: #ffe1a7;
    height: 10000px;
}

.inner_c {
    width: 1017px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

/*分区的标题*/
%content-title {
    width: 531px;
    height: 57px;
    margin: {
        left: 230px;
    }
    border-radius: 45px 45px 0 0;
    background-color: #f76400;    
    font-size: 40px;
    font-family: "Microsoft YaHei";
    color: #f0f0f0;
    line-height: 57px;
    text-align: center;
}
/*tab栏渐变*/
%gradient {
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8*/	
    background:#fe972a; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fdcf5a, #fe7008);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fdcf5a), to(#fe7008));  
    background:-o-linear-gradient(top, #fdcf5a, #fe7008);
}
%gradientActive {
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8*/	
    background:#f4b43b; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fdd660, #ee9a1f);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fdd660), to(#ee9a1f));  
    background:-o-linear-gradient(top, #fdd660, #ee9a1f);
}

.banner {
    height: 600px;
    img {
        width: 100%;
        height: 600px;
    }
}

.content1-zc {
    z-index: 2;
    position: relative;
    width: 987px;
    height: 180px;
    padding: 15px;
    background-color: #f8dcd0;
    a {
        float: left;
        display: block;
        width: 329px;
        height: 181px;
    }
    .line1,
    .line2 {
        position: absolute;
        top: 15px;
        width: 1px;
        height: 181px;
        border-left: 1px dashed #f7d1b7;
    }
    .line1 {left: 344px;}
    .line2 {left: 673px;}
}

.footstep {
    z-index: 1;
    position: absolute;
    top: 600px;
    right: 1%;
    width: 476px;
    height: 420px;
    background: url(../images/footstep.jpg);    
}

.sliderbar {
    z-index: 999;
    position: fixed;
//    top: 498px;
    top: 220px;
    right: 5px;
    width: 160px;
    height: 510px;
    background: url(../images/sliderbar.png);
    ul.body-sliderbar {
        list-style: none;
        margin-left: 35px;
        margin-top: 185px;
        li {
            width: 110px;
            height: 30px;
            cursor: pointer;
        }
        li.pic {
            width: 95px;
            height: 95px;
            margin: 10px;
        }
    }
}

.content2-ykj {
    z-index: 2;
    position: relative;
    margin: {
        top: 84px;
    }
    .content2-title {
        width: 534px;
        height: 58px;
        margin-left: 250px;
        background: url(../images/ykjzq/001.jpg);
    }   
        .sub-title1,
        .sub-title2,
        .sub-title3 {
            position: absolute;
            top: 65px;
            width: 315px;
            height: 66px;
            border-radius: 30px;
            border: 1px solid #fdd47d;
            font-size: 40px;
            line-height: 66px;
            text-align: center;
            color: #f0f0f0;
            font-weight: 500;
            @extend %gradient;
            cursor: pointer;
        }
        .sub-title1 {
            left: 11px;
        }
        .sub-title2 {
            left: 347px;
        }
        .sub-title3 {
            left: 685px;
        }
        .active {
            @extend %gradientActive;
        }     
    .content2-body {
        width: 1012px;
        height: 1260px;
        background-color: #fceee1;
        margin: {
            top: 30px;
        }
        border: 3px solid #cf845a;
        ul.body-ykjzq-8 {
            list-style: none;
            margin-top: 73px;
            li {
                float: left;
                margin: 5px;
            }
            display: none;
        }
        ul.body-ykjzq-18 {
            list-style: none;
            margin-top: 73px;
            li {
                float: left;
                margin: 5px;
            }
            display: none;
        }
        ul.body-ykjzq-28 {
            list-style: none;
            margin-top: 73px;
            li {
                float: left;
                margin: 5px;
            }
        }        
    }
}

.content3-rqdp {
    margin: {
        top: 84px;
    }
    .content3-title {
        width: 536px;
        height: 64px;
        margin-left: 250px;
        background: url(../images/rqdp/title.jpg);
    }
    .content3-body {
	    margin-top: 10px;
        width: 1017px;
        height: 1484px;
        ul.body-rqdp {
	        list-style: none;
            li {
                float: left;
                img {
                    vertical-align: bottom;    /*去除图片上下间距*/
                }
            }
        }
    }
}

.content4-rxtz {
    margin: {
        top: 84px;
    }  
    .content4-title {
        width: 536px;
        height: 64px;
        margin-left: 250px;
        background: url(../images/rxtz/001.jpg);
    } 
    .content4-body {
        margin-top: 10px;
        width: 1017px;
        background-color: #fbf1eb;
        border-radius: 10px;
        ul.body-rxtz {
            overflow: hidden;
            list-style: none;
            li {
                float: left;
                margin: 10px;
                a {
                    display: block;
                    width: 316px;
                    height: 368px;
                }
            }
        }
    }
}

.content5-kbmy {
    position: relative;
    margin: {
        top: 84px;
    }
    padding: 155px 0 0 0;
    border-radius: 10px;
    background-color: #fff6ef;
    .content5-title {
        position: absolute;
        top: -50px;
        left: 0%;
        width: 535px;
        height: 103px;
        margin-left: 250px;
        background: url(../images/kbmy/001.jpg);
    }
        .sub-title1,
        .sub-title2,
        .sub-title3 {
            position: absolute;
            top: 77px;
            width: 315px;
            height: 66px;
            border-radius: 30px;
            border: 1px solid #fdd47d;
            font-size: 40px;
            line-height: 66px;
            text-align: center;
            color: #f0f0f0;
            font-weight: 500;
            @extend %gradient;
            cursor: pointer;
        }
        .sub-title1 {
            left: 11px;
        }
        .sub-title2 {
            left: 347px;
        }
        .sub-title3 {
            left: 685px;
        }   
        .active {
            @extend %gradientActive;
        }    
    .content5-body {
        ul.body-kbmy {
            overflow: hidden;
            list-style: none;
            li {
                float: left;
                margin: 6px;
                a {
                    display: block;
                    width: 242px;
                    height: 300px;
                }
            }
        }
    }
}

.content6-gmbj {
    position: relative;
    margin: {
        top: 84px;
    }
    padding: 155px 0 0 0;
    border-radius: 10px;
    background-color: #fff6ef;    
    .content6-title {
        position: absolute;
        top: -50px;
        left: 0%;
        width: 535px;
        height: 103px;
        margin-left: 250px;
        background: url(../images/gmbj/001.jpg);        
    }
        .sub-title1,
        .sub-title2,
        .sub-title3 {
            position: absolute;
            top: 77px;
            width: 315px;
            height: 66px;
            border-radius: 30px;
            border: 1px solid #fdd47d;
            font-size: 40px;
            line-height: 66px;
            text-align: center;
            color: #f0f0f0;
            font-weight: 500;
            @extend %gradient;
            cursor: pointer;
        }
        .sub-title1 {
            left: 11px;
        }
        .sub-title2 {
            left: 347px;
        }
        .sub-title3 {
            left: 685px;
        }   
        .active {
            @extend %gradientActive;
        }
    .content6-body {
        ul.body-gmbj {
            overflow: hidden;
            list-style: none;
            li {
                float: left;
                margin: 6px;
                a {
                    display: block;
                    width: 242px;
                    height: 300px;
                }
            }
        }
    }    
}

.content7-grhl {
    position: relative;
    margin: {
        top: 84px;
    }
    padding: 155px 0 0 0;
    border-radius: 10px;
    background-color: #fff6ef;    
    .content7-title {
        position: absolute;
        top: -50px;
        left: 0%;
        width: 535px;
        height: 103px;
        margin-left: 250px;
        background: url(../images/grhl/001.jpg);        
    }
        .sub-title1,
        .sub-title2,
        .sub-title3 {
            position: absolute;
            top: 77px;
            width: 315px;
            height: 66px;
            border-radius: 30px;
            border: 1px solid #fdd47d;
            font-size: 40px;
            line-height: 66px;
            text-align: center;
            color: #f0f0f0;
            font-weight: 500;
            @extend %gradient;
            cursor: pointer;
        }
        .sub-title1 {
            left: 11px;
        }
        .sub-title2 {
            left: 347px;
        }
        .sub-title3 {
            left: 685px;
        }   
        .active {
            @extend %gradientActive;
        }
    .content7-body {
        ul.body-grhl {
            overflow: hidden;
            list-style: none;
            li {
                float: left;
                margin: 6px;
                a {
                    display: block;
                    width: 242px;
                    height: 300px;
                }
            }
        }
    }    
}

.bottom-ad {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff6ef;      
    ul.body-bottom-ad {
        list-style: none;
        li {
            float: left;
            margin: 8px;
        }
    }
}