/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,
em,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
    margin: 0;
    padding: 0;
}

.inner_c {
    width: 10rem;
    margin: 0 auto;
}

@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 1;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 2;
    }
}

#header {
    .topbar {
        width: 10rem;
        height: 1.67rem;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .banner {
        width: 10rem;
        height: 7.9rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

#content {
    .navbar-outer {
        overflow: scroll;
        ul.navbar {
                list-style: none;
                width: 30rem;
                li {
                    float: left;
                    width: 2.68rem;
                    height: 1.03rem;
                    line-height: 1.03rem;
                    background-color: #e11515;
                    text-align: center;
                    border-right: 1px dashed #fff;
                    a {
                        display: block;
                        @include font-dpr(12px);
                        color: white;
                        text-decoration: none;
                    }
                }
            }        
    }
    div.list-1 {
        background-color: #38c3d6;
        h3.list-1-title {
            // font-size: 36px;
            @include font-dpr(24px);
            color: white;
            height: 1.25rem;
            line-height: 1.25rem;
            text-align: center;
        }
        ul.list-1-content {
            list-style: none;
            overflow: hidden;
            li {
                float: left;
                width: 4.84rem;
                height: 6.71rem;
                margin: 0 0.07rem;
                a {
                    display: block;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

#footer {
    background-color: #38c3d6;
    p.top {
        @include font-dpr(24px);
        color: white;
        text-align: center;
        height: 1.75rem;
        line-height: 1.75rem;
        border-bottom: 1px dashed white;
    }
    p.center {
        @include font-dpr(16px);
        color: white;
        text-align: center;
        margin-top: 0.62rem;
    }
    p.bottom {
        @include font-dpr(14px);
        color: white;
        text-align: center;
    }
    div.contact-us {
        width: 10rem;
        height: 7.14rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}