<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--  引用vue.js  -->
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <!--  
        在 v-for 块中，我们拥有对父作用域属性的完全访问权限。 v-for 还支持一个可选的第二个参数为当前项的索引
        你也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法
        <div v-for="item of items"></div>
        #对象的迭代
        #整数的迭代
    -->
    <ul id="app">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <!--  新建Vue脚本  -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                parentMessage: 'Parent',
                items: [
                    {message: 'Foo'}, 
                    {message: 'Bar'}
                ]
            }
        });
    </script>
</body>
</html>
