<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--  引用vue.js  -->
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>表单复选框</h1>     
        <input type="checkbox" id="生化危机7" value="生化危机7" v-model="checkedGames">
        <label for="生化危机7">生化危机7</label>
        <input type="checkbox" id="模拟飞行" value="模拟飞行" v-model="checkedGames">
        <label for="模拟飞行">模拟飞行</label>
        <input type="checkbox" id="塞尔达传说" value="塞尔达传说" v-model="checkedGames">
        <label for="塞尔达传说">塞尔达传说</label>
        <p>你选择的是{{checkedGames}}</p>
    </div>

    <!--  新建Vue脚本  -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                checkedGames:[],
            }
        });
    </script>
</body>
</html>
