/** 清除内外边距 **/
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
        dl, dt, dd, ul, ol, li, em,/* list elements 列表元素 */
        pre, /* text formatting elements 文本格式元素 */
        form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
        th, td /* table elements 表格元素 */ {
            margin: 0;
            padding: 0;
        }

.inner_c {
    width: 1200px;
    margin: 0 auto;
}

$font-size: #777;
$base-color: #d93600;

header {
    height: 100px;
    background-color: #fafafa;
    overflow: hidden;
}

.hot {
    height: 70px;
}

.welcome {
	height: 30px;
    p {
        float: left;
        margin-right: 510px;
        font-size: 14px;
        line-height: 30px;
        color: #777;
        span.spn1 {
            color: #fe4455;
        }
        span.spn2 {
            color: #333;
        }
        a {
            color: #333;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        li {
            float: left;
            width: 80px;
            margin-left: 10px;
            font-size: 14px;
            line-height: 30px;
            color: #777;
            em {
                font-size: 14px;
                line-height: 30px;
                margin-left: 5px;
            }
        }
    }
}

.top {
    overflow: hidden;
    .logo {
        float: left;
        display: block;
	    width: 136px;
        height: 57px;
//        margin-top: 27px;
        margin: {
            top: 27px;
            left: 52px;
        }
    }
    .searchBar {
        position: relative;
        float: left;
        width: 500px;
        height: 42px;
        margin: {
            top: 14px;
            left: 112px;
        }
        background-color: #D93600;
        .keyWord {
            position: absolute;
            top: 3px;
            left: 3px;
	        width: 414px;
            height: 32px;
            font-size: 14px;
            background-color: #fff;
        }
        label {
            position: absolute;
            top: 12px;
            left: 10px;
            font-size: 14px;
            color: $font-size;
        }
        .searchBtn {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 76px;
            height: 36px;
            text-align: center;
	        color: #f0f0f0;
            font-size: 16px;
            line-height: 36px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .shoppingCart {
        position: relative;
        float: left;
        width: 126px;
        height: 40px;
        background-color: #fafafa;
        border: 1px solid #f0f0f0;
        margin: {
            top: 14px;
            left: 176px;
        }
        i {
            position: absolute;
            top: 10px;
            left: 5px;
            width: 20px;
            height: 16px;
        }
        em {
            position: absolute;
            top: 10px;
            left: 30px;
            color: $font-size;
            font-size: 14px;
        }
        .cart-cal {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 14px;
            color: $font-size;
        }
    }
    .qrCode {
        float: right;
        width: 73px;
        height: 73px;
        margin-top: 14px;
        background: url(../images/6.jpg) no-repeat;
    }
}

nav {
    position: relative;
    .line {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid $base-color;
    }
    .top2 {
        margin-top: 27px;
        dl {
            position: relative;
            float: left;
            width: 190px;
            /* height: 342px; */
            &:hover>dd{
                cursor: pointer;
                display: block;
            }
            dt {
                height: 40px;
                background-color: $base-color;
                font-size: 14px;
                line-height: 40px;
                color: white;
                span {
                    display: inline-block;
                    margin-left: 80px;
                    font-size: 12px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            dd {
                z-index: 1000;
                position: absolute;
                top: 40px;
                left: 0;
                display: none;
                width: 190px;
                height: 300px;
                margin: {
                    top: 1px;
                }
                background-color: #dfdfdf;
                ol {
                    padding: {
                        left: 20px;
                    }
                    list-style: none;
                    li {
                        width: 170px;
                        height: 30px;
                        color: $font-size;
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
            }
        }
        ul {
            list-style: none;
            li {
                float: left;
                width: 120px;
                height: 40px;
                margin-right: 10px;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                color: $font-size;
                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
            li:first-child {
                margin-left: 10px;
            }
        }    
    }
}

.your-position {
    clear: both;
    width: 1200px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: $font-size;
}

section {
    overflow: hidden;
    .left-side {
        position: relative;
        float: left;
        width: 380px;
        height: 490px;
        /* background-color: rgba(0, 0, 255, 0.42); */
        .top {
            width: 380px;
            height: 400px;
            border: 1px solid #f0f0f0;
        }
        .bottom {
            ul {
                .current {
                    border-color: red;
                }
                list-style: none;
                    li {
                            float: left;
                            width: 60px;
                            height: 60px;
                            margin: {
                                right: 7px;
                                top: 14px;
                            }
                        cursor: pointer;
                        border: 1px solid #f0f0f0;
                        img {
                            /*这样图片可以填满且适应盒子的大小*/
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
            }
        }
        #show {
            z-index: 999; 
            position: absolute;
            top: 10px;
            left: 10px;
            width: 1180px;
            height: 380px;
            /* background-color: goldenrod; */
        }
    }
    .content {
        position: relative;
	    float: left;
        width: 795px;
        margin: {
            left: 23px;
        }
        .product-name {
            width: 710px;
            height: 40px;
            color: #666;
            font-size: 16px;
            line-height: 40px;
            border-bottom: 1px dashed #ccc;
        }
        .call-sb {
            position: absolute;
            top: 20px;
            right: 10px;
            width: 60px;
            color: $font-size;
            font-size: 12px;
        }
        ul.detail-top {
            list-style: none;
            width: 563px;
            height: 115px;
            border-bottom: 1px dashed #ccc;
            li {
                font-size: 12px;
                color: $font-size;
                height: 28px;
                line-height: 28px;
                b {
                    font-size: 20px;
                    color: red;
                }
                a {
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
                i {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        ul.detail-num {
            overflow: hidden;
            list-style: none;
            li {
                font-size: 12px;
                color: $font-size;
            }
            li.one {
                float: left;
                height: 50px;
                line-height: 40px;
            }
            li.two {
                ul {
                    list-style: none;
                    li.num {
                        float: left;
                        width: 33px;
                        height: 28px;
                        padding-left: 5px;
                        line-height: 28px;
                        margin: {
                            top: 6px;
                        }
                        border: 1px solid #ccc;
                    }
                    li.add,
                    li.dec {
                        width: 16px;
                        height: 12px;
                        border: 1px solid #ccc;
                        text-align: center;
                        line-height: 12px;
                        margin: {
                            left: 3px;
                        }
                    }
                    li.add {
                        float: left;
                        margin: {
                            top: 6px;
                        }
                    }
                    li.dec {
                        float: left;
                        margin: {
                            top: 22px;
                            left: -18px;
                        }
                    }
                }
            }
        }
        ul.detail-contents {
            list-style: none;
            li.one,
            li.two {
                float: left;
                width: 100px;
                height: 32px;
                background-color: #ba7538;
                color: white;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                margin: {
                    right: 9px;
                }
                border: 1px solid #f0f0f0;
                border-radius: 5px;
            }
            li.three {
                float: left;
                width: 138px;
                height: 32px;
                background-color: $base-color;
                color: white;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                margin: {
                    right: 9px;
                }
                border: 1px solid #f0f0f0;
                border-radius: 5px;                
            }
            li.four {
                float: left;
                width: 138px;
                height: 32px;
                background-color: #2a729c;
                color: white;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                margin: {
                    right: 9px;
                }
                border: 1px solid #f0f0f0;
                border-radius: 5px;                
            }            
        }
        div.share-collect {
            clear: both;
            width: 160px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 3px 3px #f9f9f9,3px 0 3px #f9f9f9,0 -3px 3px #f9f9f9,-3px 0 3px #f9f9f9;
            margin: {
                top: 54px;
            }
            a {
                text-decoration: none;
                color: #005ea6;
                font-size: 14px;
            }
            a.share {
                display: inline-block;
                width: 65px;
                height: 25px;
                line-height: 25px;
                border-right: 1px solid #ccc;
            }
        }
        div.shop-information {
            position: absolute;
            top: 60px;
            right: 0;
            width: 198px;
            height: 305px;
            border: 1px solid #e6e6e6;
            .one {
                height: 30px;
                border-bottom: 1px solid #e6e6e6;
                background-color: #f5f5f5;
                padding-left: 5px;
                h2 {
                    color: $font-size;
                    font-size: 12px;
                    line-height: 30px;
                }
            }
            .two {
                height: 33px;
                border-bottom: 1px solid #e6e6e6;
                padding-left: 5px;
                h2 {
                    display: inline-block;
                    color: $font-size;
                    font-size: 14px;
                    line-height: 33px;
                }
                img {
                    display: inline-block;
                    width: 80px;
                }
                i {
                    font-size: 14px;
                    color: $base-color;
                }
                b {
                    font-size: 14px;
                    color: $font-size;
                }
            }
            .three {
                padding: 5px;
                ul {
                    overflow: hidden;
                    border-bottom: 1px dashed #e6e6e6;
                    list-style: none;
                    li.three-title {
                        width: 188px;
                        height: 18px;
                        h3 {
                            float: left;
                            width: 88px;
                            font-size: 14px;
                            color: #777;
                            line-height: 18px;
                            font-weight: 700;
                        }
                        h4 {
                            float: left;
                            width: 80px;
                            margin: {
                                left: 15px;
                            }
                            font-size: 14px;
                            color: #777;
                            line-height: 18px;   
                            font-weight: 400;
                        }
                    }
                    li.three-contents {
                        height: 24px;
                        margin: {
                            top: 5px;
                        }
                        %mr2 {
                            margin: {
                                right: 2px;
                            }
                        }
                        p {
                            float: left;
                            width: 57px;
                            height: 22px;
                            font-size: 12px;
                            color: #999;
                            line-height: 22px;
                            @extend %mr2;
                        }
                        i {
                            float: left;
                            width: 31px;
                            height: 22px;
                            font-size: 12px;
                            color: #555;
                            line-height: 22px;
                            @extend %mr2;
                        }
                        b {
                            float: left;
                            width: 7px;
                            height: 3px;
                            margin: {
                                top: 8px;
                            }
                            background-color: $base-color;
                            @extend %mr2;
                        }
                        em {
                            float: left;
                            width: 31px;
                            height: 22px;
                            font-size: 12px;
                            color: $base-color;
                            line-height: 22px;  
                            @extend %mr2;
                        }
                        img {
                            float: left;
                            height: 22px;
                            line-height: 22px;
                        }
                    }
                }
            }
            .four {
                padding: 5px;
                border-bottom: 1px solid #e6e6e6;
                h2 {
                    float: left;
                    width: 70px;
                    height: 24px;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 24px;                    
                }
            }
            .five {
                overflow: hidden;
                padding: 5px;
                border-bottom: 1px solid #e6e6e6;
                h2 {
                    float: left;
                    width: 60px;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 24px;
                }
                b {
                    float: left;
                    width: 100px;
                    color: #333;
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            .six {
                overflow: hidden;
                padding: 5px;
                p {
                    float: left;
                    width: 75px;
                    height: 22px;
                    margin: {
                        left: 15px;
                    }
                    color: #005ea6;
                    font-size: 12px;
                    line-height: 22px;
                }
                p.p2 {
                    width: 50px;
                }
                span.num {
                    float: left;
                    height: 22px;
                    line-height: 22px;
                    font-size: 12px; 
                    color: #999;
                }
            }
        }
    }    
}

section {
    aside {
        float: left;
        width: 210px;
//        height: 5000px;    /*测试用  后期需要删除*/
        /* background-color: #ccc; */
        div.one {
            width: 208px;
            border: 1px solid #ddd;
            h2 {
                width: 100%; 
                height: 30px;
                border-bottom: 1px solid #ddd;
                font-size: 14px;
                line-height: 30px;
                color: $font-size;
            }
            .gary-border {
	            width: 110px;
                height: 110px;
                border: 4px solid #ddd;
                margin: 25px;
                padding: 20px;
                img {
                    width: 111px;
                    height: 111px;
                }
            }
        }
        div.two {
            width: 208px;
            margin: {top: 10px;}
            border: 1px solid #ddd;
            div.top {
                height: 39px;
                border-bottom: 1px solid #ddd;
                h2 {
                    float: left;
                    width: 70px;
                    height: 40px;
                    margin-left: 10px;
                    color: $font-size;
                    font-size: 14px;
                    line-height: 39px;                    
                }
                img {
                    float: left;
                    width: 21px;
                    height: 21px;
                    margin: {
                        top: 8px;
                        right: 10px;
                    }
                }
            }
            p.time-title {
                height: 33px;
                font-size: 12px;
                color: black;
                line-height: 33px;
                font-weight: 700;
                padding: {left: 10px;}
            }
            p.time-rank {
                height: 33px;
                font-size: 12px;
                color: $font-size;
                line-height: 33px;  
                padding: {left:25px;}
            }
        }
        div.three {
            width: 208px;
            margin: {top: 10px;}
            border: 1px solid #ddd;
            div.top1 {
                height: 30px;
                border-bottom: 1px solid #ddd;
                h2 {
                    height: 30px;
                    font-size: 12px;
                    color: black;
                    line-height: 30px;
                    margin-left: 10px;
                }
            }
            ul.top2 {
                height: 30px;
                border-bottom: 1px solid #ddd;
                list-style: none;
                li {
                    float: left;
                    width: 36px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    color: $font-size;
                    margin: {left: 10px;}
                }
            }
            div.top3 {
                height: 40px;
                border-bottom: 1px dashed #ddd;
                padding: 5px;
                .top3-left {
                    float: left;
                    position: relative;
	                width: 128px;
                    height: 28px;
                    .search-content {
                        width: 128px;
                        height: 28px;
                    }
                    .hot-search {
                        position: absolute;
                        top: 9px;
                        left: 4px;
                        font-size: 12px;
                        color: $font-size;
                    }
                }
                .top3-search-btn {
                    float: left;
                    width: 60px;
                    height: 32px;
                    margin: {left: 10px;}
                    background-color: #f5f5f5;
                    border: 1px solid #ddd;
                    color: $font-size;
                    font-size: 12px;
                    text-align: center;
                    line-height: 32px;
                }
            }
            div.top4 {
                color: black;
                font-size: 12px;
                font-weight: 700;
                li {
                    height: 30px;
                    line-height: 30px;
                    padding: {left: 10px;}
                    p {
                        font-weight: normal;
                        padding: {left: 25px;}
                    }
                    span.line {
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        margin: {right: 10px;}
                        color: $font-size;
                    }
                }
                li.li-one {
                    margin: {top:5px;}
                }
                li.li-two {
                    height: 60px;
                }
            }
         }
        div.four {
            width: 208px;
            margin: {top: 10px;}
            border: 1px solid #ddd;
            div.top1 {
                height: 30px;
                border-bottom: 1px solid #ddd;
                h2 {
                    height: 30px;
                    font-size: 12px;
                    color: $font-size;
                    line-height: 30px;
                    margin-left: 10px;
                }
            }
            div.top2 {
                height: 23px;
                border-bottom: 1px solid #ddd;
                padding: 7px 7px 0 7px;
                .top2-left {
                    float: left;
                    width: 80px;
                    height: 23px;
                    font-size: 12px;
                    color: $font-size;
                    line-height: 23px;
                    margin: {right: 5px;}
                    padding: {left: 6px;}
                    border:{
                        left: 1px solid #ddd;
                        top: 1px solid #ddd;
                        right: 1px solid #ddd;
                    }
                    border-radius: 3px;
                    cursor: pointer;
                }
                .top2-right {
                    float: left;
                    width: 80px;
                    height: 23px;
                    font-size: 12px;
                    color: $font-size;
                    line-height: 23px;
                    padding: {left: 6px;}
                    border:{
                        left: 1px solid #ddd;
                        top: 1px solid #ddd;
                        right: 1px solid #ddd;
                    }
                    border-radius: 3px;
                    cursor: pointer;
                }                
            }
            div.top3 {
                width: 208px;
                ul.hot-sail {
                    list-style: none;
                    li {
                        width: 198px;
                        height: 56px;
                        padding: 5px;
                        border-bottom: 1px dashed #ddd;
                        a.a-one {
                            float: left;
                            width: 48px;
                            height: 48px;
                            border: 1px solid #ddd;
                        }
                        a.a-two {
                            float: left;
                            width: 123px;
                            height: 15px;
                            margin: {left: 10px;}
                            font-size: 12px;
                            color: #00549d;
                            text-decoration: none;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;    /*加上overflow:hidden; 才能起效果*/
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        p {
                            float: left;
                            width: 80px;
                            height: 20px;
                            font-size: 12px;
                            color: $font-size;
                            line-height: 20px;
                            margin: {left: 10px;}
                        }
                        span {
                            float: left;
                            height: 20px;
                            color: $font-size;
                            font-size: 12px;
                            line-height: 20px;
                            margin: {left: 10px;}
                        }
                    }
                }
                ul.hot-collect {
                    display: none;
                    list-style: none;
                    li {
                        width: 198px;
                        height: 56px;
                        padding: 5px;
                        border-bottom: 1px dashed #ddd;
                        p {
                            float: left;
                            width: 80px;
                            height: 20px;
                            font-size: 12px;
                            color: $font-size;
                            line-height: 20px;
                            margin: {left: 10px;}
                        }
                        span {
                            float: left;
                            height: 20px;
                            color: $font-size;
                            font-size: 12px;
                            line-height: 20px;
                            margin: {left: 10px;}
                        }
                    }                    
                }
            }
            div.top4 {
                width: 130px;
                height: 42px;
                padding: 9px 39px 9px 39px;
                div.link-other {
                    width: 128px;
                    height: 38px;
                    border: 1px solid #ffd863;
                    border-radius: 5px;
                    background-color: #fef4b1;
                    color: black;
                    font-size: 14px;
                    line-height: 38px;
                    text-align: center;
                }
            }
        }
        div.five {
            width: 208px;
            margin: {top: 10px;}
            border: 1px solid #ddd;
            div.top {
                height: 30px;
                border-bottom: 1px solid #ddd;
                h2 {
                    font-size: 14px;
                    color: $font-size;
                    line-height: 30px;
                    margin: {left: 10px;}
                }
            }
            div.center {
                overflow: hidden;
                width: 198px;
                border-bottom: 1px dashed #ddd;
                padding: 5px;
                a.a-one {
                    float: left;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #ddd;                    
                }
                a.a-two {
                    float: left;
                    width: 123px;
                    height: 15px;
                    margin: {left: 10px;}
                    font-size: 12px;
                    color: #00549d;
                    text-decoration: none;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;    /*加上overflow:hidden; 才能起效果*/
                    &:hover {
                        text-decoration: underline;
                    }                    
                }
                p {
                    float: left;
                    width: 80px;
                    height: 20px;
                    font-size: 12px;
                    color: $font-size;
                    line-height: 20px;
                    margin: {left: 10px;}                    
                }
                span {
                    float: left;
                    height: 20px;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 20px;
                    margin: {left: 10px;}                    
                }
            }
            div.bottom {
                width: 130px;
                height: 42px;
                padding: 9px 39px 9px 39px;
                div.link-other {
                    width: 128px;
                    height: 38px;
                    border: 1px solid #ffd863;
                    border-radius: 5px;
                    background-color: #fef4b1;
                    color: black;
                    font-size: 14px;
                    line-height: 38px;
                    text-align: center;
                }                
            }
        }
    }
    article {
        float: left;
        div.article-one {
            width: 978px;
            height: 82px;
            margin: {left: 10px;}
            border: 1px solid #ddd;
            ul {
                overflow: hidden;
                border-bottom: 1px solid #ddd;
                list-style: none;
                li {
                    float: left;
                    width: 86px;
                    height: 31px;
                    border-right: 1px solid #ddd;
                    background-color: #f0f0f0;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 31px;
                    text-align: center;
                    cursor: pointer;
                }
                .current {
                    background-color: #c0c0c0;
                }
            }
            span {
                display: inline-block;
                width: 200px;
                height: 30px;
                margin: {left: 20px;top: 10px;}
                color: $font-size;
                font-size: 14px;
                line-height: 30px;
            }
        }
        div.article-two {
            width: 742px;
            height: 90px;
            padding: 10px 5px 5px 5px;
            margin: {top: 10px; left: 10px;}
            border: {
                top: 1px dashed #ddd;
                bottom: 2px dashed #ddd;
            }
            ul {
                overflow: hidden;
                list-style: none;
                li {
                    float: left;
                    width: 220px;
                    height: 30px;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 30px;
                }
            }
        }
        h3 {
            width: 742px;
            height: 40px;
            margin: {left: 10px;}
            font-size: 14px;
            color: black;
            line-height: 40px;
        }
        div.article-three {
            width: 790px;
            /* height: 500px; */
            border-bottom: 2px dashed #ddd;
            margin: {left: 10px;}
            img {
                width: 789px;
                height: 512px;
            }
            p {
                text-indent: 2em;
                font-size: 14px;
                color: black;
            }
        }
        div.article-four {
            width: 790px;
            margin: {left: 10px;}
            img {
                width: 790px;
                height: 512px;
            }
        }
        div.article-evaluate {
            width: 978px;
            height: 130px;
            border: 1px solid #ddd;
            margin: {left: 10px;}
            border: {top:3px solid $base-color;}
            div.top {
                width: 978px;
                height: 30px;
                padding: {left: 10px;}
                background-color: #fcfcfc;
                border-bottom: 1px solid #ddd;
                h2 {
                    height: 30px;
                    color: #005490;
                    font-size: 12px;
                    line-height: 30px;
                }
            }
            ul {
                list-style: none;
                li.one {
                    float: left;
                    width: 107px;
                    height: 32px;
                    padding: 10px 40px 56px 33px;
                    span {
                        color: $base-color;
                        font-size: 30px;
                        text-shadow: 1px 0 1px orange, 
                            -1px 0 1px orange, 
                            0 1px 1px orange, 
                            0 -1px 1px orange;
                    }
                    i {
                        color: $base-color;
                        font-size: 14px;
                    }
                    b {
                        color: $font-size;
                        font-size: 1px;
                    }
                }
                li.two {
                    float: left;
                    width: 582px;
                    height: 83px;
                    padding: {top: 15px;}
                    p {
                        /* width: 200px; */
                        border-right: 1px dashed #ddd;
                        height: 20px;
                        color: black;
                        font-size: 12px;
                        line-height: 20px;
                        em {
                            display: inline-block;
                            width: 60px;
                            color: $font-size;
                        }
                        span {
                            display: inline-block;
                            width: 100px;
                            height: 14px;
                            background-color: #f0f0f0;
                        }
                        span.first {
                            background-color:$base-color;
                        } 
                    }
                }
                li.three {
                    float: left;
                    width: 212px;
                    height: 60px;
                    margin: {top: 10px;}
                    p {
                        font-size: 14px;
                        color:$font-size;
                        height: 20px;
                        line-height: 20px;
                        margin-left: 20px;
                    }
                    span {
                        display: block;
                        width: 106px;
                        height: 28px;
                        margin: {
                            left: 20px;
                        }
                        border: 1px solid #c33742;
                        background-color: #da4f49;
                        color: white;
                        font-size: 14px;
                        line-height: 28px;
                        text-align: center;
                    }
                }
            }
        }
        div.article-evaluate-record {
            width: 978px;
            height: 152px;
            border: 1px solid #ddd;
            margin: {left: 10px;top: 10px;}
            ul {
                overflow: hidden;
                /* border-bottom: 3px solid #ddd; */
                list-style: none;
                li {
                    float: left;
                    width: 86px;
                    height: 31px;
                    border-right: 1px solid #ddd;
                    background-color: #f0f0f0;
                    color: $font-size;
                    font-size: 12px;
                    line-height: 31px;
                    text-align: center;
                    cursor: pointer;
                }
                .current {
                    border-bottom: 3px solid $base-color;
                }
            }
            p {
                height: 120px;
                font-size: 16px;
                color:$font-size;
                text-align: center;
                line-height: 120px;
            }            
        }
    }
}

div#goTop {
    position: fixed;
    top: 600px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #f0f0f0;
    font-size: 36px;
    text-align: center;
    line-height: 80px;
    color: #666;
    display: none;
    cursor: pointer;
}
