@charset "UTF-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, em,
pre,
form, fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

.inner_c {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 100px;
  background-color: #fafafa;
  overflow: hidden;
}

.hot {
  height: 70px;
}

.welcome {
  height: 30px;
}
.welcome p {
  float: left;
  margin-right: 510px;
  font-size: 14px;
  line-height: 30px;
  color: #777;
}
.welcome p span.spn1 {
  color: #fe4455;
}
.welcome p span.spn2 {
  color: #333;
}
.welcome p a {
  color: #333;
  text-decoration: none;
}
.welcome p a:hover {
  text-decoration: underline;
}
.welcome ul {
  list-style: none;
}
.welcome ul li {
  float: left;
  width: 80px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #777;
}
.welcome ul li em {
  font-size: 14px;
  line-height: 30px;
  margin-left: 5px;
}

.top {
  overflow: hidden;
}
.top .logo {
  float: left;
  display: block;
  width: 136px;
  height: 57px;
  margin-top: 27px;
  margin-left: 52px;
}
.top .searchBar {
  position: relative;
  float: left;
  width: 500px;
  height: 42px;
  margin-top: 14px;
  margin-left: 112px;
  background-color: #D93600;
}
.top .searchBar .keyWord {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 414px;
  height: 32px;
  font-size: 14px;
  background-color: #fff;
}
.top .searchBar label {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 14px;
  color: #777;
}
.top .searchBar .searchBtn {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 76px;
  height: 36px;
  text-align: center;
  color: #f0f0f0;
  font-size: 16px;
  line-height: 36px;
}
.top .searchBar .searchBtn:hover {
  cursor: pointer;
}
.top .shoppingCart {
  position: relative;
  float: left;
  width: 126px;
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  margin-top: 14px;
  margin-left: 176px;
}
.top .shoppingCart i {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 16px;
}
.top .shoppingCart em {
  position: absolute;
  top: 10px;
  left: 30px;
  color: #777;
  font-size: 14px;
}
.top .shoppingCart .cart-cal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #777;
}
.top .qrCode {
  float: right;
  width: 73px;
  height: 73px;
  margin-top: 14px;
  background: url(../images/6.jpg) no-repeat;
}

nav {
  position: relative;
}
nav .line {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #d93600;
}
nav .top2 {
  margin-top: 27px;
}
nav .top2 dl {
  position: relative;
  float: left;
  width: 190px;
  /* height: 342px; */
}
nav .top2 dl:hover > dd {
  cursor: pointer;
  display: block;
}
nav .top2 dl dt {
  height: 40px;
  background-color: #d93600;
  font-size: 14px;
  line-height: 40px;
  color: white;
}
nav .top2 dl dt span {
  display: inline-block;
  margin-left: 80px;
  font-size: 12px;
}
nav .top2 dl dt:hover {
  cursor: pointer;
}
nav .top2 dl dd {
  z-index: 1000;
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  width: 190px;
  height: 300px;
  margin-top: 1px;
  background-color: #dfdfdf;
}
nav .top2 dl dd ol {
  padding-left: 20px;
  list-style: none;
}
nav .top2 dl dd ol li {
  width: 170px;
  height: 30px;
  color: #777;
  font-size: 14px;
  line-height: 30px;
}
nav .top2 ul {
  list-style: none;
}
nav .top2 ul li {
  float: left;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #777;
}
nav .top2 ul li:hover {
  color: red;
  cursor: pointer;
}
nav .top2 ul li:first-child {
  margin-left: 10px;
}

.your-position {
  clear: both;
  width: 1200px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #777;
}

section .left-side {
  position: relative;
  float: left;
  width: 380px;
  height: 490px;
  /* background-color: rgba(0, 0, 255, 0.42); */
}
section .left-side .top {
  width: 380px;
  height: 400px;
  border: 1px solid #f0f0f0;
}
section .left-side .bottom ul {
  list-style: none;
}
section .left-side .bottom ul .current {
  border-color: red;
}
section .left-side .bottom ul li {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 7px;
  margin-top: 14px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
}
section .left-side .bottom ul li img {
  /*这样图片可以填满且适应盒子的大小*/
  width: 100%;
  height: 100%;
  display: block;
}
section .left-side #show {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1180px;
  height: 380px;
  /* background-color: goldenrod; */
}
section .content {
  position: relative;
  float: left;
  width: 795px;
  margin-left: 23px;
}
section .content .product-name {
  width: 710px;
  height: 40px;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
}
section .content .call-sb {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 60px;
  color: #777;
  font-size: 12px;
}
section .content ul.detail-top {
  list-style: none;
  width: 563px;
  height: 115px;
  border-bottom: 1px dashed #ccc;
}
section .content ul.detail-top li {
  font-size: 12px;
  color: #777;
  height: 28px;
  line-height: 28px;
}
section .content ul.detail-top li b {
  font-size: 20px;
  color: red;
}
section .content ul.detail-top li a {
  text-decoration: none;
}
section .content ul.detail-top li a:hover {
  text-decoration: underline;
}
section .content ul.detail-top li i {
  font-size: 14px;
  font-weight: 600;
}
section .content ul.detail-num {
  overflow: hidden;
  list-style: none;
}
section .content ul.detail-num li {
  font-size: 12px;
  color: #777;
}
section .content ul.detail-num li.one {
  float: left;
  height: 50px;
  line-height: 40px;
}
section .content ul.detail-num li.two ul {
  list-style: none;
}
section .content ul.detail-num li.two ul li.num {
  float: left;
  width: 33px;
  height: 28px;
  padding-left: 5px;
  line-height: 28px;
  margin-top: 6px;
  border: 1px solid #ccc;
}
section .content ul.detail-num li.two ul li.add,
section .content ul.detail-num li.two ul li.dec {
  width: 16px;
  height: 12px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 12px;
  margin-left: 3px;
}
section .content ul.detail-num li.two ul li.add {
  float: left;
  margin-top: 6px;
}
section .content ul.detail-num li.two ul li.dec {
  float: left;
  margin-top: 22px;
  margin-left: -18px;
}
section .content ul.detail-contents {
  list-style: none;
}
section .content ul.detail-contents li.one,
section .content ul.detail-contents li.two {
  float: left;
  width: 100px;
  height: 32px;
  background-color: #ba7538;
  color: white;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-right: 9px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
section .content ul.detail-contents li.three {
  float: left;
  width: 138px;
  height: 32px;
  background-color: #d93600;
  color: white;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-right: 9px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
section .content ul.detail-contents li.four {
  float: left;
  width: 138px;
  height: 32px;
  background-color: #2a729c;
  color: white;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-right: 9px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
section .content div.share-collect {
  clear: both;
  width: 160px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 3px #f9f9f9,3px 0 3px #f9f9f9,0 -3px 3px #f9f9f9,-3px 0 3px #f9f9f9;
  margin-top: 54px;
}
section .content div.share-collect a {
  text-decoration: none;
  color: #005ea6;
  font-size: 14px;
}
section .content div.share-collect a.share {
  display: inline-block;
  width: 65px;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #ccc;
}
section .content div.shop-information {
  position: absolute;
  top: 60px;
  right: 0;
  width: 198px;
  height: 305px;
  border: 1px solid #e6e6e6;
}
section .content div.shop-information .one {
  height: 30px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  padding-left: 5px;
}
section .content div.shop-information .one h2 {
  color: #777;
  font-size: 12px;
  line-height: 30px;
}
section .content div.shop-information .two {
  height: 33px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 5px;
}
section .content div.shop-information .two h2 {
  display: inline-block;
  color: #777;
  font-size: 14px;
  line-height: 33px;
}
section .content div.shop-information .two img {
  display: inline-block;
  width: 80px;
}
section .content div.shop-information .two i {
  font-size: 14px;
  color: #d93600;
}
section .content div.shop-information .two b {
  font-size: 14px;
  color: #777;
}
section .content div.shop-information .three {
  padding: 5px;
}
section .content div.shop-information .three ul {
  overflow: hidden;
  border-bottom: 1px dashed #e6e6e6;
  list-style: none;
}
section .content div.shop-information .three ul li.three-title {
  width: 188px;
  height: 18px;
}
section .content div.shop-information .three ul li.three-title h3 {
  float: left;
  width: 88px;
  font-size: 14px;
  color: #777;
  line-height: 18px;
  font-weight: 700;
}
section .content div.shop-information .three ul li.three-title h4 {
  float: left;
  width: 80px;
  margin-left: 15px;
  font-size: 14px;
  color: #777;
  line-height: 18px;
  font-weight: 400;
}
section .content div.shop-information .three ul li.three-contents {
  height: 24px;
  margin-top: 5px;
}
section .content div.shop-information .three ul li.three-contents p, section .content div.shop-information .three ul li.three-contents i, section .content div.shop-information .three ul li.three-contents b, section .content div.shop-information .three ul li.three-contents em {
  margin-right: 2px;
}
section .content div.shop-information .three ul li.three-contents p {
  float: left;
  width: 57px;
  height: 22px;
  font-size: 12px;
  color: #999;
  line-height: 22px;
}
section .content div.shop-information .three ul li.three-contents i {
  float: left;
  width: 31px;
  height: 22px;
  font-size: 12px;
  color: #555;
  line-height: 22px;
}
section .content div.shop-information .three ul li.three-contents b {
  float: left;
  width: 7px;
  height: 3px;
  margin-top: 8px;
  background-color: #d93600;
}
section .content div.shop-information .three ul li.three-contents em {
  float: left;
  width: 31px;
  height: 22px;
  font-size: 12px;
  color: #d93600;
  line-height: 22px;
}
section .content div.shop-information .three ul li.three-contents img {
  float: left;
  height: 22px;
  line-height: 22px;
}
section .content div.shop-information .four {
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}
section .content div.shop-information .four h2 {
  float: left;
  width: 70px;
  height: 24px;
  color: #777;
  font-size: 12px;
  line-height: 24px;
}
section .content div.shop-information .five {
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid #e6e6e6;
}
section .content div.shop-information .five h2 {
  float: left;
  width: 60px;
  color: #777;
  font-size: 12px;
  line-height: 24px;
}
section .content div.shop-information .five b {
  float: left;
  width: 100px;
  color: #333;
  font-size: 12px;
  line-height: 24px;
}
section .content div.shop-information .six {
  overflow: hidden;
  padding: 5px;
}
section .content div.shop-information .six p {
  float: left;
  width: 75px;
  height: 22px;
  margin-left: 15px;
  color: #005ea6;
  font-size: 12px;
  line-height: 22px;
}
section .content div.shop-information .six p.p2 {
  width: 50px;
}
section .content div.shop-information .six span.num {
  float: left;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999;
}

/*# sourceMappingURL=productDetail.css.map */
